# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc
man/
NAMESPACE
data/MAMMALS/*
data/BIRDS/*
outputs/birds_birdlife_occs_by_cells.qs
